<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCaseBestBuy.CartTestBB"/>
      <class name="testCaseBestBuy.LocationTestBB"/>
      <class name="testCaseBestBuy.SignInTestBB"/>
      <class name="testCaseBestBuy.CheckOutTestBB"/>
      <class name="testCaseBestBuy.CreatAccountTestBB"/>
      <class name="testCaseBestBuy.HomeTestBB"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
